body{
  background: peachpuff linear-gradient(90deg,
    rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 50%
    ) center center / 2em;
}
h1{
  text-align:center;
}
#form{
  display: grid;
}
#description{
  margin: 10px auto;
  font-size: 20px;
  font-weight: 400;
}
#survey-form{
  background-color: white;
  margin: 10px auto;
  height: auto;
  padding: 20px 50px;
  display: block;
}
.labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    
}
.rowTab{
    display: block;
}
.rightTab{
    display: inline-block;
    text-align: left;
    width: 40%;
    vertical-align: middle;
}
#dropdown{
  width: 100px;
}
#radio-label{
    display: block;
}
.radio{
  padding: 0;
    margin: 0;
}
ul{
  list-style:none;
}
#comment{
  display: flex;
  justify-content: space-between;
}
#submit{
  width: 100px;
  height: 30px;
  border-radius: 50px;
  margin: 10px auto;
}